extends layouts/main

block content
    .editVideo
        h5.abc=video.title
        span.fasdf=video.description
    .form-container
        form(action=routes.editVideo(video.id), method="post")
            input(type="text", placeholder=`${video.title}`, name="title", required=true)
            textarea(placeholder=`${video.description}`, name="description", required=true)
            input(type="submit", value="Edit")
    .delete-video
        a(href=routes.deleteVideo(video.id)) Delete Video